Neural Network Training/.ipynb_checkpoints/Overshoot & Undershoot Identification-checkpoint.ipynb
Neural Network Training/__pycache__/training_functions.cpython-38.pyc
Neural Network Training/.ipynb_checkpoints/OUID Stress Testing-checkpoint.ipynb
